venv/
__pycache__/
Game Recommendations on Steam/
Steam Store Games/
data/
Old_Datasets/
games_steam_matched.csv
games_steam_merged.csv
text_emb_sampled.npy    
text_emb_sampled2.npy    
text_emb_sampled3.npy    
clip_img_emb_by_app.npy
data2/
data3/